<h4>Custom Background Settings</h4>
<div class="control-group">Upload your image file (jpg, bmp, png, gif supported) via OctoPrint's interface to the local side (Page will automatically refresh). You may delete the file once uploaded and the background will remain.</div>
<form class="form-horizontal" id="settings_plugin_custombackground_form">
    <div class="control-group">
		<label class="control-label">{{ _('Image Fill Method') }}</label>
        <div class="controls">
			<select data-bind="options: fillOptions,optionsText: 'name',optionsValue: 'value',value: settings.settings.plugins.custombackground.fillMethod"></select>
        </div>
	</div>
</form>
